<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xyongfeng.mapper.AdminLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xyongfeng.pojo.AdminLog">
        <id column="id" property="id" />
        <result column="action_module" property="actionModule" />
        <result column="action_user_id" property="actionUserId" />
        <result column="action_url" property="actionUrl" />
        <result column="action_content" property="actionContent" />
        <result column="action_type" property="actionType" />
        <result column="action_ip" property="actionIp" />
        <result column="action_time" property="actionTime" />
        <result column="action_success" property="actionSuccess" />

    </resultMap>
    <resultMap id="OneToOneResultMap" type="com.xyongfeng.pojo.AdminLog" extends="BaseResultMap">
        <association property="actionUser" javaType="com.xyongfeng.pojo.Users">
            <id column="userId" property="id"/>
            <result column="uName" property="name"/>
            <result column="username" property="username"/>
            <result column="telephone" property="telephone"/>
            <result column="email" property="email"/>
            <result column="headImage" property="headImage"/>
            <result column="isAdmin" property="isAdmin"/>
        </association>
    </resultMap>
    <select id="selectWithUser" resultMap="OneToOneResultMap">
        SELECT
            al.*,
            u.id as userId,
            u.`name` as uName,
            u.username,
            u.telephone,
            u.headImage,
            u.email,
            u.isAdmin
        FROM
            t_admin_log as al,
            t_users as u
        where
            al.action_user_id = u.id
        order by al.action_time desc
    </select>
    <select id="selectWithUserById" resultMap="OneToOneResultMap">
        SELECT
            al.*,
            u.id as userId,
            u.`name` as uName,
            u.username,
            u.telephone,
            u.headImage,
            u.email,
            u.isAdmin
        FROM
            t_admin_log as al,
            t_users as u
        where
            al.action_user_id = u.id AND
            al.action_user_id = ${userId}
    </select>
</mapper>
