<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xyongfeng.mapper.ChatFilterMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xyongfeng.pojo.ChatFilter">
        <id column="id_xq" property="id" />
        <result column="filter_content_xq" property="filterContent" />
        <result column="filter_rule_xq" property="filterRule" />
        <result column="replace_content_xq" property="replaceContent" />
        <result column="appender_id_xq" property="appenderId" />
        <result column="append_time_xq" property="appendTime" />
        <result column="enable_xq" property="enable" />
    </resultMap>

    <resultMap id="OneToOneResultMap" type="com.xyongfeng.pojo.ChatFilter" extends="BaseResultMap">
        <association property="appender" javaType="com.xyongfeng.pojo.Users">
            <id column="userId" property="id"/>
            <result column="uName" property="name"/>
            <result column="username_xq" property="username"/>
            <result column="telephone_xq" property="telephone"/>
            <result column="email_xq" property="email"/>
            <result column="headImage_xq" property="headImage"/>
            <result column="isAdmin_xq" property="isAdmin"/>
        </association>
    </resultMap>
    <select id="selectWithUser" resultMap="OneToOneResultMap">
        SELECT
            cf.*,
            u.id_xq as userId,
            u.name_xq as uName,
            u.username_xq,
            u.telephone_xq,
            u.headImage_xq,
            u.email_xq,
            u.isAdmin_xq
        FROM
            t_chat_filter_xq as cf,
            t_users_xq as u
        where
            cf.appender_id_xq = u.id_xq
    </select>
    <select id="selectWithUserById" resultMap="OneToOneResultMap">
        SELECT
            cf.*,
            u.id_xq as userId,
            u.name_xq as uName,
            u.username_xq,
            u.telephone_xq,
            u.headImage_xq,
            u.email_xq,
            u.isAdmin_xq
        FROM
            t_chat_filter_xq as cf,
            t_users_xq as u
        where
            cf.appender_id_xq = u.id_xq AND
            cf.appender_id_xq = ${userId}
    </select>

</mapper>
