<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xyongfeng.mapper.MeetingPasswordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xyongfeng.pojo.MeetingPassword">
        <id column="id_xq" property="id" />
        <result column="meeting_id_xq" property="meetingId" />
        <result column="password_xq" property="password" />
        <result column="enabled_xq" property="enabled" />
    </resultMap>

</mapper>
