<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xyongfeng.mapper.MeetingInformMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xyongfeng.pojo.MeetingInform">
        <id column="id" property="id" />
        <result column="type" property="type" />
        <result column="from_uid" property="fromUid" />
        <result column="from_mid" property="fromMid" />
        <result column="to_uid" property="toUid" />
        <result column="to_mid" property="toMid" />
        <result column="title" property="title" />
        <result column="content" property="content" />
        <result column="state" property="state" />
        <result column="send_time" property="sendTime" />
    </resultMap>

</mapper>
