<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xyongfeng.mapper.MeetingScreenshotMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xyongfeng.pojo.MeetingScreenshot">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="meeting_id" property="meetingId"/>
        <result column="path" property="path"/>
        <association property="meeting" javaType="com.xyongfeng.pojo.Meeting">
            <id column="mid" property="id"/>
            <result column="mname" property="name"/>
            <result column="user_id" property="userId"/>
            <result column="create_date" property="createDate"/>
            <result column="start_date" property="startDate"/>
            <result column="haveLicence" property="haveLicence"/>
        </association>
    </resultMap>
    <select id="selectAll" resultMap="BaseResultMap">
        SELECT tms.*,
               tm.id mid,
               tm.create_date,
               tm.haveLicence,
               tm.`name` mname,
               tm.start_date,
               tm.user_id
        FROM t_meeting tm,
             t_meeting_screenshot tms
        WHERE
            tms.user_id=${uid} AND
            tms.meeting_id=tm.id

    </select>

</mapper>
