<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xyongfeng.mapper.MeetingApplicationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xyongfeng.pojo.MeetingApplication">
        <id column="id" property="id" />
        <result column="applicant_id" property="applicantId" />
        <result column="meeting_id" property="meetingId" />
        <result column="state" property="state" />
        <result column="send_time" property="sendTime" />
        <association property="meeting" javaType="com.xyongfeng.pojo.Meeting">
            <id column="mid" property="id"/>
            <result column="mname" property="name" />
            <result column="user_id" property="userId" />
            <result column="create_date" property="createDate" />
            <result column="start_date" property="startDate" />
            <result column="haveLicence" property="haveLicence" />
        </association>
        <association property="users" javaType="com.xyongfeng.pojo.Users">
            <id column="uid" property="id"/>
            <result column="uname" property="name"/>
            <result column="telephone" property="telephone"/>
            <result column="email" property="email"/>
            <result column="headImage" property="headImage"/>
        </association>
    </resultMap>


    <select id="selectMeetingApplications" resultMap="BaseResultMap">
        SELECT
            tma.*,
            tm.id mid,
            tm.create_date,
            tm.haveLicence,
            tm.`name` mname,
            tm.start_date,
            tm.user_id,
            tu.id uid,
            tu.`name` uname,
            tu.email,
            tu.headImage,
            tu.telephone
        FROM
            t_users tu,
            t_meeting tm,
            t_meeting_application tma
        WHERE
            tma.applicant_id = tu.id AND
            tma.meeting_id = tm.id AND
            tma.state = 0 AND
            tm.user_id =${uid}
        order by tma.send_time desc
    </select>

</mapper>
