<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xyongfeng.mapper.MeetingNoticeUsersMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xyongfeng.pojo.MeetingNoticeUsers">
        <id column="id_xq" property="id" />
        <result column="user_id_xq" property="userId" />
        <result column="notice_id_xq" property="noticeId" />
        <result column="state_xq" property="state" />
    </resultMap>
    <insert id="insertMeetingNoticePushToUser">
        INSERT INTO t_meeting_notice_users_xq(`user_id_xq`,`notice_id_xq`,`state_xq`)
        SELECT ${uid} as `user_id`,`id_xq` as `notice_id`,0 as `state`
        FROM t_meeting_notice_xq
        WHERE
            meeting_id_xq='${mid}' AND
            type_xq=2;
    </insert>

</mapper>
