<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xyongfeng.mapper.MeetingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xyongfeng.pojo.Meeting">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="user_id" property="userId" />
        <result column="create_date" property="createDate" />
        <result column="start_date" property="startDate" />
        <result column="haveLicence" property="haveLicence" />
    </resultMap>

    <resultMap id="OneToOneResultMap" type="com.xyongfeng.pojo.Meeting" extends="BaseResultMap">
        <association property="users" javaType="com.xyongfeng.pojo.Users">
            <id column="userId" property="id"/>
            <result column="uName" property="name"/>
            <result column="username" property="username"/>
            <result column="telephone" property="telephone"/>
            <result column="email" property="email"/>
            <result column="headImage" property="headImage"/>
            <result column="isAdmin" property="isAdmin"/>
        </association>
    </resultMap>

    <select id="selectOneToOne" resultMap="OneToOneResultMap">
        SELECT
        m.*,
        u.id as userId,
        u.`name` as uName,
        u.username,
        u.telephone,
        u.headImage,
        u.email,
        u.isAdmin
        FROM
            t_meeting as m,
            t_users as u
        where
            m.user_id = u.id
            <if test="ew">
                and ${ew.sqlSegment}
            </if>



    </select>
    <select id="selectOneToMany" resultMap="OneToOneResultMap">
        SELECT
            m.*,
            u.id as userId,
            u.`name` as uName,
            u.username,
            u.telephone,
            u.headImage,
            u.email,
            u.isAdmin
        FROM
            t_meeting as m,
            t_users as u,
            t_meeting_users as mu
        WHERE
            m.user_id = u.id
          and mu.meeting_id = m.id
          and mu.users_id = ${user_id}
    </select>
    <select id="getExistMeetWithUser" resultType="com.xyongfeng.pojo.Meeting">
        SELECT
            m.*,
            u.id as userId,
            u.`name` as uName,
            u.username,
            u.telephone,
            u.headImage,
            u.email,
            u.isAdmin
        FROM
            t_meeting as m,
            t_users as u,
            t_meeting_users as mu
        WHERE
            m.user_id = u.id
          and mu.meeting_id = m.id
          and mu.users_id = ${user_id}
          and mu.meeting_id = ${meeting_id}

    </select>

</mapper>
