<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xyongfeng.mapper.MeetingChatMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xyongfeng.pojo.MeetingChat">
        <id column="id_xq" property="id" />
        <result column="meeting_id_xq" property="meetingId" />
        <result column="user_id_xq" property="userId" />
        <result column="msg_xq" property="msg" />
        <result column="send_time_xq" property="sendTime" />
    </resultMap>

</mapper>
