<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xyongfeng.mapper.MeetingNoticeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xyongfeng.pojo.MeetingNotice">
        <id column="id_xq" property="id" />
        <result column="meeting_id_xq" property="meetingId" />
        <result column="sender_id_xq" property="senderId" />
        <result column="title_xq" property="title" />
        <result column="content_xq" property="content" />
        <result column="type_xq" property="type" />
        <result column="send_time_xq" property="sendTime" />
        <result column="update_time_xq" property="updateTime" />
        <result column="inform_id_xq" property="informId" />
        <result column="hidden_xq" property="hidden" />
    </resultMap>
    <resultMap id="MeetingNoticeWithMeetUser" type="com.xyongfeng.pojo.MeetingNotice" extends="BaseResultMap">
        <association property="meeting" javaType="com.xyongfeng.pojo.Meeting">
            <id column="mid" property="id"/>
            <result column="mname" property="name" />
            <result column="user_id_xq" property="userId" />
            <result column="create_date_xq" property="createDate" />
            <result column="start_date_xq" property="startDate" />
            <result column="haveLicence_xq" property="haveLicence" />
        </association>
        <association property="sender" javaType="com.xyongfeng.pojo.Users">
            <id column="uid" property="id"/>
            <result column="uname" property="name"/>
            <result column="telephone_xq" property="telephone"/>
            <result column="email_xq" property="email"/>
            <result column="headImage_xq" property="headImage"/>
        </association>
    </resultMap>
    <select id="selectMeetingNoticePushWithUid" resultMap="MeetingNoticeWithMeetUser">
        SELECT
            tmn.*,
            tmnu.id_xq inform_id,
            tu.id_xq uid, tu.name_xq uname, tu.username_xq,  tu.telephone_xq, tu.email_xq, tu.headImage_xq,
            tm.id_xq mid, tm.name_xq mname, tm.user_id_xq, tm.create_date_xq, tm.start_date_xq, tm.haveLicence_xq
        FROM
            t_meeting_notice_xq tmn,
            t_meeting_notice_users_xq tmnu,
            t_users_xq tu,
            t_meeting_xq tm
        WHERE
            tmn.sender_id_xq=tu.id_xq AND
            tmn.id_xq = tmnu.notice_id_xq AND
            tmn.meeting_id_xq = tm.id_xq AND
            tmnu.state_xq = 0 AND
            tmnu.user_id_xq = ${uid}
    </select>
    <select id="selectMeetingNotice" resultMap="MeetingNoticeWithMeetUser">
        SELECT
            tmn.*,
            tu.id_xq uid, tu.name_xq uname, tu.username_xq,  tu.telephone_xq, tu.email_xq, tu.headImage_xq,
            tm.id_xq mid, tm.name_xq mname, tm.user_id_xq, tm.create_date_xq, tm.start_date_xq, tm.haveLicence_xq
        FROM
            t_meeting_notice_xq tmn,
            t_users_xq tu,
            t_meeting_xq tm
        WHERE
            tmn.meeting_id_xq = '${mid}' AND
            tmn.sender_id_xq = tu.id_xq AND
            tm.id_xq = tmn.meeting_id_xq
        ORDER BY tmn.update_time_xq DESC
    </select>

</mapper>
