<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xyongfeng.mapper.MeetingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xyongfeng.pojo.Meeting">
        <id column="id_xq" property="id" />
        <result column="name_xq" property="name" />
        <result column="user_id_xq" property="userId" />
        <result column="create_date_xq" property="createDate" />
        <result column="start_date_xq" property="startDate" />
        <result column="end_date_xq" property="endDate" />
        <result column="haveLicence_xq" property="haveLicence" />
        <result column="end_xq" property="end" />
        <result column="to_owner_hidden_xq" property="toOwnerHidden" />
        <result column="max_number_xq" property="maxNumber" />
        <result column="need_face_xq" property="needFace" />
    </resultMap>

    <resultMap id="OneToOneResultMap" type="com.xyongfeng.pojo.Meeting" extends="BaseResultMap">
        <association property="users" javaType="com.xyongfeng.pojo.Users">
            <id column="userId" property="id"/>
            <result column="uName" property="name"/>
        </association>
    </resultMap>

    <select id="selectById" resultMap="BaseResultMap">
        select * from t_meeting_xq where id_xq = '${mid}'

    </select>
    <update id="updateEndDate">
         update t_meeting_xq m set m.end_date_xq='${endDate}'where m.id_xq=${mid}
    </update>
    <update id="delHistoryMeeting">
        update t_meeting_xq m
        set m.to_owner_hidden_xq = 1
        where m.id_xq = '${mid}' and
            m.user_id_xq = ${uid}
    </update>
    <select id="selectMeetingWithCreaterOne" resultMap="BaseResultMap">
        SELECT
            m.*,
            u.id_xq as userId,
            u.name_xq as uName
        FROM
            t_meeting_xq as m,
            t_users_xq as u
        where
            m.user_id_xq = u.id_xq AND
            m.id_xq = '${meeting_id}'

    </select>
    <select id="selectMeetingWithCreater" resultMap="OneToOneResultMap">
        SELECT
        m.*,
        u.id_xq as userId,
        u.`name_xq` as uName
        FROM
            t_meeting_xq as m,
            t_users_xq as u
        where
            m.user_id_xq = u.id_xq
            <if test="ew">
                and ${ew.sqlSegment}
            </if>
    </select>
    <select id="selectMeetingByParticipants" resultMap="OneToOneResultMap">
        SELECT
            m.*,
            u.id_xq as userId,
            u.`name_xq` as uName
        FROM
            t_meeting_xq as m,
            t_users_xq as u,
            t_meeting_users_xq as mu
        WHERE
            m.user_id_xq = u.id_xq
          and mu.meeting_id_xq = m.id_xq
          and mu.users_id_xq = ${user_id}
          and mu.is_founder_xq = false
        <if test="ew">
            and ${ew.sqlSegment}
        </if>
    </select>
    <select id="getExistMeetWithUser" resultMap="BaseResultMap">
        SELECT
            m.*,
            u.id_xq as userId,
            u.`name_xq` as uName
        FROM
            t_meeting_xq as m,
            t_users_xq as u,
            t_meeting_users_xq as mu
        WHERE
            m.user_id_xq = u.id_xq
          and mu.meeting_id_xq = m.id_xq
          and mu.users_id_xq=${user_id}
          and mu.meeting_id_xq='${meeting_id}'


    </select>

    <resultMap id="UsersResultMap" type="com.xyongfeng.pojo.Users">
        <id column="id_xq" property="id"/>
        <result column="name_xq" property="name"/>
        <result column="telephone_xq" property="telephone"/>
        <result column="email_xq" property="email"/>
        <result column="headImage_xq" property="headImage"/>
    </resultMap>
    <select id="selectOneWithParticipantById" resultMap="UsersResultMap">
        SELECT
            u.id_xq,
            u.headImage_xq,
            u.email_xq,
            u.`name_xq`,
            u.telephone_xq
        FROM
            t_users_xq u,
            t_meeting_users_xq mu
        WHERE
            mu.users_id_xq=u.id_xq AND
            mu.meeting_id_xq='${meeting_id}' AND
            mu.is_founder_xq = false
    </select>

    <select id="selectMeetingByParticipantsWithEnd" resultMap="OneToOneResultMap">
        SELECT
        m.*,
        u.id_xq as userId,
        u.`name_xq` as uName
        FROM
        t_meeting_xq as m,
        t_users_xq as u,
        t_meeting_users_xq as mu
        WHERE
        m.user_id_xq = u.id_xq
        and mu.meeting_id_xq = m.id_xq
        and mu.users_id_xq = ${user_id}
        and m.end_xq = 1
        and mu.to_user_hidden_xq = 0
        and mu.is_founder_xq = false
    </select>
    <select id="selectAllStartDateTime" resultType="java.time.LocalDateTime">
        select m.start_date_xq from t_meeting_xq as m
        <if test="withoutEnd==true">
            where m.end_xq=0
        </if>
    </select>

</mapper>
