<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xyongfeng.mapper.MenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xyongfeng.pojo.Menu">
        <id column="id" property="id"/>
        <result column="url" property="url"/>
        <result column="path" property="path"/>
        <result column="component" property="component"/>
        <result column="name" property="name"/>
        <result column="iconCls" property="iconCls"/>
        <result column="requireAuth" property="requireAuth"/>
        <result column="parentid" property="parentid"/>
        <result column="enabled" property="enabled"/>
    </resultMap>

    <resultMap id="Menus" type="com.xyongfeng.pojo.Menu" extends="BaseResultMap">
        <collection property="children" ofType="com.xyongfeng.pojo.Menu">
            <id column="id2" property="id"/>
            <result column="url2" property="url"/>
            <result column="path2" property="path"/>
            <result column="component2" property="component"/>
            <result column="name2" property="name"/>
            <result column="iconCls2" property="iconCls"/>
            <result column="requireAuth2" property="requireAuth"/>
            <result column="parentid2" property="parentid"/>
            <result column="enabled2" property="enabled"/>
        </collection>

    </resultMap>

    <!--  根据id查找列表  -->
    <select id="getMenusByUserId" resultMap="Menus">
        SELECT DISTINCT m1.*,
                        m2.id        AS id2,
                        m2.url       AS url2,
                        m2.path      AS path2,
                        m2.component AS component2,
                        m2.`name`    AS name2,
                        m2.iconCls   AS iconCls2,
                        m2.enabled   AS enabled2
        FROM t_menu m1,
             t_menu m2,
             t_users_role ar,
             t_menu_role mr
        WHERE m1.id = m2.parentid
          AND m2.id = mr.menu_id
          AND mr.role_id = ar.role_id
          AND m2.enabled = TRUE
          AND ar.user_id = #{id}
    </select>

</mapper>
