<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xyongfeng.mapper.RoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xyongfeng.pojo.Role">
        <id column="id_xq" property="id"/>
        <result column="perms_xq" property="perms"/>
        <result column="name_xq" property="name"/>
        <result column="remark_xq" property="remark"/>
    </resultMap>

    <select id="selectRoleWithUserid" resultMap="BaseResultMap">
        SELECT r.id_xq,
               r.perms_xq,
               r.name_xq,
               r.remark_xq
        FROM t_users_xq a,
             t_users_role_xq ar,
             t_role_xq r
        WHERE a.id_xq = ar.user_id_xq
          AND ar.role_id_xq = r.id_xq
          AND a.id_xq = #{id};
    </select>
    <select id="selectRoleWithoutHidden" resultMap="BaseResultMap">
        SELECT r.id_xq,
               r.perms_xq,
               r.`name_xq`,
               r.remark_xq
        FROM t_users_xq a,
             t_users_role_xq ar,
             t_role_xq r
        WHERE a.id_xq = ar.user_id_xq
          AND ar.role_id_xq = r.id_xq
          AND a.id_xq = #{id}
          AND r.hidden_xq = 0;

    </select>


</mapper>
