<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xyongfeng.mapper.UserAdviceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xyongfeng.pojo.UserAdvice">
        <id column="id_xq" property="id"/>
        <result column="user_id_xq" property="userId"/>
        <result column="type_xq" property="type"/>
        <result column="title_xq" property="title"/>
        <result column="content_xq" property="content"/>
        <result column="time_xq" property="time"/>
    </resultMap>
    <resultMap id="OneToOneResultMap" type="com.xyongfeng.pojo.UserAdvice" extends="BaseResultMap">
        <association property="users" javaType="com.xyongfeng.pojo.Users">
            <id column="userId_xq" property="id"/>
            <result column="uName_xq" property="name"/>
            <result column="telephone_xq" property="telephone"/>
            <result column="email_xq" property="email"/>
            <result column="headImage_xq" property="headImage"/>
        </association>
    </resultMap>
    <select id="selectWithUserAndImg" resultMap="OneToOneResultMap">
        SELECT ua.*,
               u.id_xq    as userId_xq,
               u.`name_xq` as uName_xq,
               u.telephone_xq,
               u.headImage_xq,
               u.email_xq
        FROM t_user_advice_xq as ua,
             t_users_xq as u
        where ua.user_id_xq = u.id_xq

    </select>
    <select id="selectWithUserAndImgById" resultMap="OneToOneResultMap">
        SELECT ua.*,
               u.id_xq     as userId_xq,
               u.`name_xq` as uName_xq,
               u.telephone_xq,
               u.headImage_xq,
               u.email_xq
        FROM t_user_advice_xq as ua,
             t_users_xq as u
        where ua.user_id_xq = u.id_xq
          and ua.user_id_xq = ${userId}
    </select>

</mapper>
