<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xyongfeng.mapper.UsersFaceFeatureMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xyongfeng.pojo.UsersFaceFeature">
        <id column="id_xq" property="id"/>
        <result column="user_id_xq" property="userId"/>
        <result column="face_feature_xq" property="faceFeature"/>
    </resultMap>
    <select id="selectAll" resultMap="BaseResultMap">
        select *
        from t_users_face_feature_xq;

    </select>


</mapper>
